<div class="icons">
  <button (click)="redirect('instagram')" class="fab fa-instagram"> Instagram</button>
  <button (click)="redirect('leetcode')" class="fab fa-leetcode"> LeetCode</button>
  <button (click)="redirect('linkedin')" class="fab fa-linkedin"> LinkedIn</button>
  <button (click)="redirect('github')" class="fab fa-github"> Github</button>
  <button (click)="redirect('hackerrank')" class="fab fa-hackerrank"> Hackerrank</button>
  <button (click)="redirect('codeforces')" class="fab fa-codeforces"> Codeforces</button>
</div>
