<app-header></app-header>

<h1 class="about">Skills</h1>
<br><br>
<div class="content">

  <div class = "box">

    <div class="div1">
      <div class="A">Angular 7 </div>
      <div class="B"> <progress id="file" value="80" max="100"> 32% </progress> </div>
  </div>
    <div class="div1">
        <div class="A">Spring Boot </div>
        <div class="B"> <progress id="file" value="70" max="100"> 32% </progress> </div>
    </div>
    <div class="div1">
      <div class="A">JavaServer Pages (JSP) </div>
      <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
    </div>
    <div class="div1">
      <div class="A">Servlets </div>
      <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
    </div>
    <div class="div1">
      <div class="A">HTML </div>
      <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
    </div>
  <div class="div1">
    <div class="A">PySpark </div>
    <div class="B"> <progress id="file" value="60" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Python (Programming Language) </div>
  <div class="B"> <progress id="file" value="80" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Azure Databricks </div>
  <div class="B"> <progress id="file" value="50" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Java </div>
  <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Prolog </div>
  <div class="B"> <progress id="file" value="70" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Data Structures </div>
  <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Web Development </div>
  <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">JavaScript </div>
  <div class="B"> <progress id="file" value="70" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">MySQL </div>
  <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Cascading Style Sheets (CSS)</div>
  <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
</div>

<div class="div1">
  <div class="A">C (Programming Language) </div>
  <div class="B"> <progress id="file" value="90" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Spring MVC </div>
  <div class="B"> <progress id="file" value="70" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Struts </div>
  <div class="B"> <progress id="file" value="80" max="100"> 32% </progress> </div>
</div>
<div class="div1">
  <div class="A">Android Development </div>
  <div class="B"> <progress id="file" value="50" max="100"> 32% </progress> </div>
</div>

  </div>

</div>
