<app-header></app-header>

<div class="content">
  <h1 class="about">Projects</h1>
  <p class="link">All Project can be found in this Link : <a style="color: red;" href="https://github.com/visnunathan8"> https://github.com/visnunathan8</a> </p>
</div>
<br>
<p class="projects">Some Projects are :</p>

<div class="container">

  <div class = "box1">
    <h1 style="background-color: tomato; font-size: 30px; font-weight: bolder;">Analysis of Yelp dataset using Spark MPI Pandas</h1><br>
    <!-- <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">2 YEARS WORK EXPERIENCE</p>
    <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">FULL STACK DEVELOPER</p> -->
  </div>

  <div class = "box1">
    <h1 style="background-color: tomato; font-size: 30px; font-weight: bolder;"> NewsApplication using Java JSP Servlets Postgres ObserverPattern OOPS</h1><br>
    <!-- <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">2 YEARS WORK EXPERIENCE</p>
    <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">FULL STACK DEVELOPER</p> -->
  </div>

  <div class = "box1">
    <h1 style="background-color: tomato; font-size: 30px; font-weight: bolder;"> Docker Implementation</h1><br>
    <!-- <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">2 YEARS WORK EXPERIENCE</p>
    <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">FULL STACK DEVELOPER</p> -->
  </div>

  <div class = "box1">
    <h1 style="background-color: tomato; font-size: 30px; font-weight: bolder;">Custom Curl Command</h1><br>
    <!-- <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">2 YEARS WORK EXPERIENCE</p>
    <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">FULL STACK DEVELOPER</p> -->
  </div>

  <div class = "box1">
    <h1 style="background-color: tomato; font-size: 30px; font-weight: bolder;">Attendance management system using spring boot and angular 7</h1><br>
    <!-- <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">2 YEARS WORK EXPERIENCE</p>
    <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">FULL STACK DEVELOPER</p> -->
  </div>

  <div class = "box1">
    <h1 style="background-color: tomato; font-size: 30px; font-weight: bolder;">Resume Website using angular 7</h1><br>
    <!-- <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">2 YEARS WORK EXPERIENCE</p>
    <p style="color: white; font-size: 20px; font-weight: bolder; margin: auto; opacity: 1 !important">FULL STACK DEVELOPER</p> -->
  </div>


</div>
