
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<app-header></app-header>
<div class="parent">
  <div class="child1">
    <mat-card class="matcard" >
      <img src="../../assets/profilephoto.png">
    </mat-card>
  </div>
  <div class="child2">
    <div class="content">
      <p class="name">I'M VISNUNATHAN CHIDAMBARANATHAN.</p>
      <p class="designation">FULL STACK DEVELOPER</p>
      <p class="information">Hi, I am a full stack developer with 2+ years of work experience. I am currently pursuing a Masters in Applied Computer Science at Concordia University in Montreal, Canada. I have a strong foundation in various programming languages and a passion for developing innovative software solutions.</p>
    </div>
    <app-social-media class="social"></app-social-media>
  </div>
</div>

